.pagination {
    display: flex;
    gap: 0.25rem;
    justify-content: center;
    font-weight: 500;
}

.pagination > * {
    padding: 0.25rem 1rem;
    background-color: var(--background-color);
    cursor: pointer;
}

.item {
    color: var(--text-color);
}

.item:hover {
    background-color: #00c0dd;
}

.item_current {
    color: #00c0dd;
    pointer-events: none;
}

.item_inactive {
    opacity: 0.5;
    pointer-events: none;
}
