.formWrapper {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
}

.form {
  border: 0.25rem solid var(--main-color);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
