.button {
    border: 0;
    border-radius: 0.5rem;
    padding: 0.5em 1rem;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #fff;
    cursor: pointer;
    transition: color 0.25s;
}

.button:hover {
    color: #00c0dd;
}