.search__listItem {
    font-size: 1em;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0.5em;
    background-color: white;
    color: #747bff;
}

.search__listItemInfo {
    font-size: 0.75em;
    display: flex;
    gap: 1em;
    align-items: start;
    color: black;
}
