.label {
    font-size: 1.5rem;
    text-align: center;
}

.input {
    border: 0;
    border-radius: 0.5rem;
    padding: 0.5em 1rem;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #fff;
    height: auto;
    width: 25vw;
    min-width: 5rem;
}