.section {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section__title {
    font-size: 2em;
    text-align: center;
}

.search {
    height: 2rem;
}

.top {
    background: #747bff;
}
