:root {
  --background-color: white;
  --text-color: black;
  --section-top-color: #5f14e1;
  --section-bottom-color: white;
  --items-body-color: white;
  --items-text-color: #5f14e1;
}

.dark-mode {
  --background-color: #121212;
  --text-color: white;
  --section-top-color: #2a2a2a;
  --section-bottom-color: #181818;
  --items-body-color: #212121;
  --items-text-color: #00c0dd;
}

#rootDiv {
  text-align: center;
  width: 100%;
}
